version: "3.9"

services:
  localstack:
    container_name: localstack
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb,sqs
      - AWS_DEFAULT_REGION=sa-east-1
      - EDGE_PORT=4566
      - PERSISTENCE=1
      - DATA_DIR=/var/lib/localstack/data
    volumes:
      - ".docker/localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
